<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endre vekkeklokke</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
    <h1>Vekkerklokke</h1>
    <div class="box">
        <button id="time" class="time button-13 same" onclick="myFunction1()">{{format_timer}}</button>
        <div id="myDropdown1" class="dropdown-content"></div>
        <p>:</p>
        <button id="minutt" class="minutt button-13 same" onclick="myFunction2()">{{format_minutter}}</button>
        <div id="myDropdown2" class="dropdown-content"></div>
    </div>
    <button id="clicker">Click</button>
    <div class="bottom">
        <div class="two">
            <button id="clicker3" class="">Skru av nå</button>
            <button id="clicker2" class="">Skru på nå</button>
        </div>
        <button id="clic">{{ format_on }}</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/second.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
</body>
</html>
